<app-banner [page]="page"></app-banner>
<!-- Class Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">{{userObj.firstName}} {{userObj.lastName}}</span>
            </p>
            <!-- Search Form -->
            <div class="mb-5 mt-5" *ngIf="path=='/parent'">
                <form #searchForm="ngForm" (ngSubmit)="search()">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Child's phone number..."
                            [(ngModel)]="obj.tel" name="tel" #tel="ngModel" required />

                        <div class="input-group-append">
                            <button class="input-group-text bg-transparent text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>

                    </div>
                    <div *ngIf="searchForm.submitted && tel.invalid" class="invalidfeedback">
                        <div *ngIf="tel.errors.required" style="color: red;">Child's phone number is required </div>
                    </div>
                </form>
                <h6 style="color: red;">{{msg}}</h6>
                <h6 style="color: green;">{{success}}</h6>

            </div>


            <h1 class="mb-4" *ngIf="path=='/student'">Here are your courses</h1>
            <h1 class="mb-4" *ngIf="path=='/parent' && success!=''">Here are your child courses</h1>
        </div>
        <div class="row" *ngIf="path=='/student' || (path=='/parent' && success!='')">
            <div class="col-lg-3 mb-5" *ngFor="let course of courses">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" [src]="course?.courseId.avatar" width="100px" />
                    <div class="card-body text-center">
                        <h4 class="card-title">{{course?.courseId.courseName}}</h4>
                    </div>
                    <button class="btn btn-primary px-4 mx-auto mb-4" (click)="goToDisplay(course.courseId._id)">Display</button>
                    <button class="btn btn-success px-4 mx-auto mb-4" (click)="seeResult(course)">Result</button>
                    <div class="text-center" *ngIf="showNote && selectedCourse == course">
                        <h6> Note: {{note}} {{evaluation}}</h6>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Class End -->



<div class="container">
    <div class="text-center pb-2">
        <h1 class="mb-4" *ngIf="path=='/student'">Here are all your results</h1>
        <h1 class="mb-4" *ngIf="path=='/parent' && success!='' ">Here are all your child results</h1>
    </div>

    <table class="table custom-table " *ngIf="path=='/student' || (path=='/parent' && success!='')">
        <tr>
            <th>Course </th>
            <th>Teacher </th>
            <th>Note </th>
            <th>Evaluation </th>
        </tr>
        <tr *ngFor="let course of courses">
            <td>{{course?.courseId?.courseName}}</td>
            <td>{{course?.courseId?.teacherId?.firstName}} {{course?.courseId.teacherId?.lastName}}</td>

            <td>
                {{course?.note}}
                <span *ngIf="!course.note && course.note!=0" style="color: red;">
                    --
                </span>
            </td>

            <td
                [ngStyle]="{'color': course.evaluation == 'Verry Good' ? 'green' : (course.evaluation == 'Good' ? 'orange' : 'red')}">
                {{ course?.evaluation }}
                <span *ngIf="!course.evaluation">
                    --
                </span>
            </td>




        </tr>

    </table>
</div>