<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
  <div class="row align-items-center px-3 container-fluid">
    <div class="col-lg-6 text-center text-lg-left">
      <h3 class="text-center mt-2 mb-4"> {{actualDate}} </h3>
      <h2 class="display-3 mt-4 font-weight-bold text-white">
        New Approach to Kids Education
      </h2>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-4 mb-2" src="assets/img/header.png" width="350px" />
    </div>
  </div>
</div>
<!-- Header End -->

